&.style-footer {
    padding: var(--nt-space-4) 0;
    background: #3b3b3b;
    --separator-color: var(--nt-gray-400);

    ntl-card {
        --background-color: transparent;
        color: var(--nt-white);

        h1,h2,h3,h4,h5,h6 {
            color: var(--nt-white);
            text-transform: uppercase;
            font-size: var(--fs-1);
        }

        a {
            color: var(--nt-gray-300);
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: var(--nt-white);
            }
        }
    }
}
