@use "@nextrap/ntl-accordion" as acc;

&.blog-details {

  overflow: hidden;
  @include acc.item-details-end;
  display: block;
  width: 100%;
  border: 1px solid var(--nt-gray-400);
  border-radius: calc(0.25rem * 5);

  background-color: var(--nt-gray-300);


  &::part(content) {
    padding: 0;
  }
  &::part(summary) {
    border-top: none;
    padding: var(--nt-space-3);
    background-color: var(--nt-gray-400);
  }
  &[open]::part(summary) {
    border-top: 1px solid var(--nt-gray-400);

  }
}
