@use "@nextrap/ntl-card-row" as cardRow;

&.style-default {
  padding-block: var(--nt-spacing-section);

  @include cardRow.default-style(
    $container-width: var(--nt-container-width),
    $default-cols: 4,
    $gap: var(--nt-space-5),
    $inner-padding: 0,
    $container-background: transparent,
    $container-border: 0,
    $container-border-radius: 0
  );

  &::part(header) {
    max-width: 48rem;
    margin-inline: auto;
    margin-bottom: var(--nt-space-8);
    text-align: left;
  }

  &::part(main) {
    align-items: stretch;
  }

  &[mode="mobile"] {
    --gutter-y: var(--nt-space-5);
  }
}
