@use "sass:meta";
@use "../../mixins/general";

ntl-card {

  --card-bg: var(--nt-body-tertiary, #e4e6ef);
  --border: none;
  --card-border-radius: 20px;
  --card-box-shadow: none;
  --image-aspect-ratio: 11/6;

  border-radius: 20px;
  background-color: var(--card-bg);


}
