ntl-card {
    --background-color: var(--nt-white);
    --border: 1px solid var(--nt-gray-300);
    --border-radius: 0;

    .header {
        margin: 0;
        text-align: start;
    }

    &::part(content), &::part(footer) {

    }
}
