@mixin header-style {
    h2 {
        &:has(+ blockquote) {
            text-transform: uppercase;
            font-weight: bold;
            font-size: var(--nt-fs-3);
            color: var(--nt-primary) !important;
            margin: var(--nt-space-3) 0;
        }

        & + blockquote {
            padding: 0;
            font-size: var(--nt-fs-h2);
            color: var(--nt-header);
            border: none;
        }
    }

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
}
