@mixin ntl-card-row_style-ribbon {
    ntl-card-row.style-ribbon {
        --gutter-y: 0;
        --default-cols: 0; // always grow to full width

        [slot="header"] {
            text-align: center;
        }

        position: relative;
        margin: 0 auto;
        padding: 0;
        border-bottom: 3px solid var(--nt-primary);

        ntl-card {
            --border-width: 0;
            --border-color: transparent;

            padding: var(--nt-gap) 0;

            h3 {
                color: var(--nt-primary-subtile);
            }
        }

        &[mode="mobile"] {
            ntl-card {
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    margin-top: var(--nt-gap);
                    width: 100%;
                    height: 1px;
                    background: var(--nt-dark);
                }

                &:last-child::after {
                    display: none;
                }
            }
        }

        &[mode="desktop"] {
            ntl-card {
                flex-grow: 1;
                padding: 0;
                border-right: 1px solid var(--nt-dark);

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
