@mixin ntl-2col {
    ntl-2col {
        --section-bg: transparent;
        --container-bg: var(--nt-light);
        --border: var(--nt-border-width) solid var(--nt-primary);
        --border-radius: var(--nt-border-radius);

        background-color: var(--section-bg);

        &::part(container) {
            border: var(--border);
            border-radius: var(--border-radius);
        }

        &::part(main) {
            padding: var(--nt-space-2) var(--nt-space-3);
        }

        &[mode="desktop"] {
            &::part(main) {
                padding: var(--nt-space-4) var(--nt-space-5);
            }
        }
    }
}
