
@import "./_vendor/font-opensans";
@import "./_vendor/font-forum";

$font-family-base: 'Open Sans', sans-serif;
//$font-size-base: 1rem !default;

$font-family-header: 'Forum', serif !default;
//$font-size-header: 1.8rem !default;
