
@import "./_vendor/font-opensans";
@import "./_vendor/font-garamond";

$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1rem !default;

$font-family-header: 'Garamond', serif !default;
$font-size-header: 3.2rem !default;
