@import "./_vendor/font-metropolis";

$font-family-base: 'Metropolis', sans-serif !default;
$font-size-base: 1.1rem !default;

$font-family-headeer: $font-family-base !default;
$font-size-header: 3.8rem !default;
