
@import "./_vendor/font-opensans-condensed";

$font-family-base: 'Open Sans Condensed', sans-serif !default;
$font-size-base: 1rem !default;

$font-family-headeer: $font-family-base !default;
$font-size-header: 1.8rem !default;
