
@import "./_vendor/font-opensans";

$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1rem !default;

$font-family-headeer: $font-family-base !default;
$font-size-header: 2.8rem !default;
