@import "./_vendor/font-opensans";
@import "./_vendor/font-urbanist";

$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1.0rem !default;

$font-family-header: 'Urbanist', sans-serif !default;
$font-size-header: 2.8rem !default;
