@use "@nextrap/ntl-card-row" as cardRow;

&.style-ribbon {
  --gutter-y: 0;
  --default-cols: 0;

  position: relative;
  z-index: 3;
  width: 100vw;
  margin-top: -4.1rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @include cardRow.default-style(
    $container-width: var(--nt-container-width),
    $gap: clamp(1rem, 2vw, 1.5rem),
    $inner-padding: 0,
    $container-background: transparent,
    $container-border: none,
    $container-border-radius: 0
  );

  &::part(container) {
    width: 100%;
    max-width: 100%;
    margin: 0;
    background: #fff;
  }

  &::part(header),
  &::part(footer) {
    display: none;
  }

  &::part(main) {
    width: var(--nt-container-width);
    max-width: var(--nt-container-width);
    margin: 0 auto;
    gap: 0;
    background: #fff;
    box-shadow: none;
  }

  &[mode="mobile"] {
    margin-top: 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 1.85rem 0 0;

    &::part(container),
    &::part(main) {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }

    &::part(main) {
      background: transparent;
    }
  }

}
