&.style-diamond {
  margin: 0 0 var(--nt-text-gap);
  padding: 0;
  list-style: none;

  > * {
    position: relative;
    margin: 0 0 calc(var(--nt-text-gap) * 0.35);
    padding-left: 0.75lh;

    &::before {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: calc((1lh - 0.5em) / 2);
      inline-size: 0.5em;
      block-size: 0.5em;
      background: var(--nt-primary);
      transform: rotate(45deg);
    }
  }
}
