/**
 * This style is for header with
 * ## Header
 * > Subheader
 */

span.kicker {
  display: block;
  font-size: var(--nt-font-size-root);
  color: var(--nt-accent);
  // make it uppercase:
  text-transform: uppercase;
  font-weight: var(--nt-font-weight-header);
  margin: var(--nt-space-3) 0;
  margin-bottom: var(--nt-space-1);

}



