@use "@nextrap/nte-card" as nte-card;

&.featured {
  :is(ntl-card, nte-card) {
    --flex-header-font-size: var(--nt-fs-h4);

    --border-color: none;
    --border-radius: 20px;
    --card-bg: var(--nt-surface-raised);
    --image-aspect-ratio: 16/9;

    &::part(wrapper) {
      border: none;
      padding: var(--nt-spacing-component);
      border-radius: 20px;
      background-color: var(--nt-surface-raised);
    }

  }


  :is(ntl-card, nte-card):nth-of-type(1) {
    // First element spans 2 rows
    grid-row: span 2

  }

  :is(ntl-card, nte-card):nth-of-type(n+2) {
    --image-aspect-ratio: unset;
    // Subsequent element is overlay element
    h2,h3,h4,h5 {
      color: var(--nt-white);
    }
    @include nte-card.with-image-overlay();
  }

}
