& {
  --nt-primary: #fe6606;
  --nt-accent: #fe6606;
  --nt-secondary: #1f3655;
  --nt-neutral: #6a7182;
  --nt-font-family: "Work Sans", sans-serif;
  --nt-font-family-header: var(--nt-font-family);
  --nt-font-size: 1rem;
  --nt-font-size-header: 2rem;
  --nt-line-height: 1.5;
  --nt-radius: 1.25rem;
  --nt-container-max: 1320px;
  --nt-spacing-section: var(--nt-space-7);
}
