@use "sass:meta";

/* Category mixin */


@use "./../../font/work-sans" as font;
//@use "./../../font/_vendor/font-bootstrap-icons";

@use "@nextrap/style-base/module" as nextrapBase;

@forward "../../src/style/base" ;



$theme: () !default;

.theme-epraxis {
  @include nextrapBase.nextrap-theme($theme, (

    primary: #fe6606,
    accent: #fe6606,
    secondary: #1F3655,
    "gray": #6a7182,

    font-family-base: font.$font-family-base,
    font-family-header: font.$font-family-base,
    font-size-header: font.$font-size-header,
    font-size-base: font.$font-size-base,
    enableFontConfig: true,
    rcs: true
  ));

  @include meta.load-css("./elements/ntl-hero/ntl-hero.scss");
  @include meta.load-css("./elements/ntl-card/ntl-card.scss");
  @include meta.load-css("./elements/ntl-card-grid/ntl-card-grid.scss");
  @include meta.load-css("./elements/ntl-slider/ntl-slider.scss");
  @include meta.load-css("./elements/ntl-2col/ntl-2col.scss");
  @include meta.load-css("./elements/ntl-accordion-item/ntl-accordion-item.scss");


  @include meta.load-css("./classes/kicker");
}


    /* grid container */
    .grid-container {
        --rows: 1;
        --cols: 1;
        --gap: 16px;

        display: grid;
        gap: var(--gap);
        grid-auto-flow: row;
        justify-items: stretch;
        align-items: stretch;
        justify-content: start;
        align-content: start;

        grid-template-columns: repeat(var(--cols), auto);
        grid-template-rows: repeat(var(--rows), auto);

        & > * {
            --row: 1;
            --col: 1;
            --row-span: 1;
            --col-span: 1;

            grid-column: var(--col) / span var(--col-span);
            grid-row: var(--row) / span var(--row-span);
        }
    }

    /* box-primary container */
    .box-primary {
        padding: 20px 0;

        /* Category */
        blockquote {
        }

        p:has(a) > a {

        }
    }



    /* nte-card */


    /* badges */
    .badges {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;

        p {
            border-radius: 50rem;
            background-color: var(--nt-primary-subtle);
            padding: 0.5rem 1rem;
            color: var(--nt-primary);
            width: fit-content;
        }
    }

    /* box-secondary */
    .box-secondary {
        h3 {
            font-weight: normal !important;
        }

        :has(h3) {
            margin: 0;
            padding-bottom: calc(var(--prose-para-space) / 2);
            padding-top: calc(var(--prose-para-space) / 2);
        }

        :has(h3):not(:last-child) {
            border-bottom: 1px solid var(--nt-tertiary-emphasis);
        }
    }




