@use "@nextrap/ntl-2col" as twoCol;

&.style-testimonial {
  --cols: 8;

  width: 100vw;
  margin-inline: calc(50% - 50vw);
  color: var(--nt-text);
  background: #f8c4c8;
  font-size: var(--nt-fs-3);
  font-style: italic;

  @include twoCol.default-style(
    $innerPadding: var(--nt-space-4),
    $gap: clamp(var(--nt-space-4), 3vw, var(--nt-space-7)),
    $background: transparent,
    $border: 0,
    $border-radius: 0,
    $objectFit: cover,
    $wrapper-bg-color: transparent
  );

  &::part(container) {
    width: var(--nt-container-width);
    margin-inline: auto;
  }

  &::part(wrapper) {
    align-items: center;
    padding-block: var(--nt-space-5);
  }

  &::part(main) {
    order: 2;
  }

  &::part(aside) {
    order: 1;
  }

  > [slot="aside"] {
    width: min(100%, 13rem);
    aspect-ratio: 1;
    margin: auto;
    overflow: hidden;
    border: .25rem solid rgb(255 255 255 / .72);
    border-radius: 50%;
  }

  > [slot="aside"] img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &[mode="mobile"] {
    text-align: center;

    &::part(wrapper) {
      flex-direction: column;
    }
  }

  &[mode="desktop"] {
    --inner-padding: var(--nt-space-6);

    &::part(wrapper) {
      padding-block: var(--nt-space-6);
    }
  }
}
