/**
 * This style is for header with
 * ## Header
 * > Subheader
 */
h2, h3 {
    &:has(+ blockquote) {
        // the original header becomes normal TEXT
        font-size: var(--nt-font-size-root);
        color: var(--nt-accent);
        font-weight: var(--nt-font-weight-header);
        margin: var(--nt-space-1) 0;
    }

    & + blockquote {
        padding: 0;
        font-size: var(--nt-fs-h2);
        border: none;
        margin-top: 0;
        > p {
            // We make it to a H2 header
            font-size: var(--nt-fs-h2);
            color: var(--nt-header);
            font-weight: var(--nt-font-weight-header);
        }
    }
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}
