@use "sass:meta";
@use "./../../font/opensans-regular" as font;
//@use "./../../font/_vendor/font-bootstrap-icons";
@use "@nextrap/style-base/module" as nextrapBase;

@forward "../../src/style/base";

$theme: () !default;

.theme-medic {
  @include nextrapBase.nextrap-theme($theme, (

    primary: #b50303,

    font-family-base: font.$font-family-base,
    font-family-header: font.$font-family-base,
    font-size-header: font.$font-size-header,
    font-size-base: font.$font-size-base,
    enableFontConfig: true,
    rcs: true
  ));

  @include meta.load-css("./elements/ntl-hero/ntl-hero.scss");
  @include meta.load-css("./elements/ntl-card-row/ntl-card-row.scss");
  @include meta.load-css("./elements/ntl-card/ntl-card.scss");
  @include meta.load-css("./elements/ntl-2col/ntl-2col.scss");
  @include meta.load-css("./elements/ntl-accordion-item/ntl-accordion-item.scss");
  @include meta.load-css("./elements/ntl-consent-blocker/ntl-consent-blocker.scss");
  @include meta.load-css("./tools/_button-bar.scss");
  @include meta.load-css("./classes/kicker.scss");




  .align-grid-items {
    --items-per-row: 3;
    display: grid;
    grid-template-columns: repeat(var(--items-per-row), 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;

    & > img {
      height: auto;
    }
  }

  background: var(--nt-body);



  h2, h3 {

  }

  ul {
    list-style: square;

    li {
      &::marker {
        color: var(--nt-primary);
      }
    }
  }

  ntl-2col,
  ntl-card-grid,
  ntl-card-row {
    padding: var(--nt-space-5) 0;
  }


}
