@use "sass:meta";
@use "./../../font/opensans-regular" as font;
@use "./../../font/_vendor/font-bootstrap-icons";



@use "@nextrap/style-base/module" as nextrapBase;

// Adjusted nextrap elements
//@use "elements/ntl-hero" as ntl-hero;
@use "./elements/ntl-card-row" as ntl-card-row;
@use "./elements/ntl-card-row_style-ribbon" as ntl-card-row_style-ribbon;
@use "./elements/ntl-card" as ntl-card;
@use "./elements/ntl-2col" as ntl-2col;
@use "./elements/ntl-2col_testimonial" as ntl-2col-testimonial;
@use "./elements/ntl-card-row_style-footer" as ntl-card-row_style-footer;
@use "./elements/ntl-accordion-item" as ntl-accordion-item;
@use "./elements/ntl-consent-blocker" as ntl-consent-block;

// Tools
@use "../../theme/medic/tools/button-bar" as button-bar;

// Features
@use "../../theme/medic/features/h2-h3-blockquote-header-style" as header-style;

@forward "../../src/style/base";

@mixin base-theme($theme, $defaults) {

  @include nextrapBase.nextrap-theme($theme, $defaults);

  // Use meta.load-css to include
  @include meta.load-css("./elements/ntl-hero.scss");


  @include ntl-card-row.ntl-card-row;
  @include ntl-card-row_style-ribbon.ntl-card-row_style-ribbon;
  @include ntl-card.ntl-card;
  @include ntl-2col.ntl-2col;
  @include header-style.header-style;
  @include ntl-card-row_style-footer.ntl-card-row_style-footer;
  @include ntl-accordion-item.ntl-accordion-item;
  @include ntl-consent-block.ntl-consent-blocker;
  @include button-bar.button-bar;
  @include ntl-2col-testimonial.testimonial;

  .align-grid-items {
    --items-per-row: 3;
    display: grid;
    grid-template-columns: repeat(var(--items-per-row), 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;

    & > img {
      height: auto;
    }
  }
}

$theme: () !default;

.theme-medic {
  @include base-theme($theme, (

    primary: #b50303,

    font-family-base: font.$font-family-base,
    font-family-header: font.$font-family-base,
    font-size-header: font.$font-size-header,
    font-size-base: font.$font-size-base,
    enableFontConfig: true,
    rcs: true
  ));





  background: var(--nt-body);



  h2, h3 {

  }

  ul {
    list-style: square;

    li {
      &::marker {
        color: var(--nt-primary);
      }
    }
  }

  ntl-2col,
  ntl-card-grid,
  ntl-card-row {
    padding: var(--nt-space-5) 0;
  }

  p,
  ul,
  ol,
  blockquote,
  code,
  pre,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: var(--nt-text-gap);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
