@use "@nextrap/style-base/module" as nextrapBase;

// Adjusted nextrap elements
@use "elements/ntl-hero" as ntl-hero;
@use "elements/ntl-card-row" as ntl-card-row;
@use "elements/ntl-card-row_style-ribbon" as ntl-card-row_style-ribbon;
@use "elements/ntl-card" as ntl-card;
@use "elements/ntl-2col" as ntl-2col;
@use "elements/ntl-2col_testimonial" as ntl-2col-testimonial;
@use "elements/header-style" as header-style;
@use "elements/ntl-card-row_style-footer" as ntl-card-row_style-footer;
@use "elements/ntl-accordion-item" as ntl-accordion-item;
@use "elements/ntl-consent-blocker" as ntl-consent-block;
@use "tools/button-bar" as button-bar;


@forward "base";

@mixin base-theme($theme, $defaults) {

    @include nextrapBase.nextrap-theme($theme, $defaults);
    @include ntl-hero.ntl-hero;
    @include ntl-card-row.ntl-card-row;
    @include ntl-card-row_style-ribbon.ntl-card-row_style-ribbon;
    @include ntl-card.ntl-card;
    @include ntl-2col.ntl-2col;
    @include header-style.header-style;
    @include ntl-card-row_style-footer.ntl-card-row_style-footer;
    @include ntl-accordion-item.ntl-accordion-item;
    @include ntl-consent-block.ntl-consent-blocker;
    @include button-bar.button-bar;
    @include ntl-2col-testimonial.testimonial;

    .align-grid-items {
        --items-per-row: 3;
        display: grid;
        grid-template-columns: repeat(var(--items-per-row), 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;

        & > img {
            height: auto;
        }
    }
}
