ntl-hero.hero-box {
  &::part(content) {
    width: 100%;
  }

  .box {
    width: calc(100% / 12 * 8);
    margin: 0 auto 0 0;
    padding: clamp(var(--nt-space-4), 2.5vw, var(--nt-space-6));
    border-radius: var(--nt-border-radius);
    background: rgb(255 255 255 / .2);
    box-shadow: 0 4px 30px rgb(0 0 0 / .1);
    backdrop-filter: blur(40px);

    hr {
      position: relative;
      left: calc(-1 * var(--nt-container-gutter));
      width: calc(100% + 2 * var(--nt-container-gutter));
      opacity: .2;
    }
  }
}
