@use "sass:meta";
@use "./../font/work-sans" as font;
@use "./../font/_vendor/font-bootstrap-icons";


@use "../src/style/base-theme" as base;

$theme: () !default;





.theme-epraxis {
    @include base.base-theme($theme, (

        primary: #fe6606,
        accent: #fe6606,
        secondary: #1F3655,

        font-family-base: font.$font-family-base,
        font-family-header: font.$font-family-base,
        font-size-header: font.$font-size-header,
        font-size-base: font.$font-size-base,
        enableFontConfig: true,
        rcs: true
    ));
    @include meta.load-css("./epraxis/_theme.scss");

}
