@use "./../font/opensans-regular" as font;
@use "./../font/_vendor/font-bootstrap-icons";


@use "../src/style/base-theme" as base;

$theme: () !default;

.theme-mueller {
    @include base.base-theme($theme, (

        primary: #b50303,

        font-family-base: font.$font-family-base,
        font-family-header: font.$font-family-base,
        font-size-header: font.$font-size-header,
        font-size-base: font.$font-size-base,
        enableFontConfig: true,
        rcs: true
    ));





    background: var(--nt-body);



    h2, h3 {

    }

    ul {
        list-style: square;

        li {
            &::marker {
                color: var(--nt-primary);
            }
        }
    }

    ntl-2col,
    ntl-card-grid,
    ntl-card-row {
        padding: var(--nt-space-5) 0;
    }

    p,
    ul,
    ol,
    blockquote,
    code,
    pre,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: var(--nt-text-gap);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
