@use "./osman/ntl-2col_testimonial" as testimonial;
@use "./osman/ntl-2col" as ntl-2col;
@use "./osman/header-style.scss" as header-style;

.theme-osman {
    @include header-style.header-style;
    @include testimonial.testimonial;
    @include ntl-2col.ntl-2col;

    ntl-2col,
    ntl-card-grid,
    ntl-card-row {
        padding: var(--nt-space-5) 0;
        margin: var(--nt-space-5) 0;
    }

    p,
    ul,
    ol,
    blockquote,
    code,
    pre,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: var(--nt-text-gap);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
