@use "./../font/opensans-regular" as font;

@use "base" as base;
@use "osman/ntl-2col_testimonial" as testimonial;
@use "osman/ntl-card-row" as ntl-card-row;
@use "osman/ntl-card-row_style-ribbon" as ntl-card-row_style-ribbon;
@use "osman/header-style" as header-style;
@use "osman/ntl-hero" as ntl-hero;
@use "osman/ntl-card-row_style-footer" as ntl-card-row_style-footer;
@use "osman/ntl-accordion-item" as ntl-accordion-item;
@use "general/button-bar" as button-bar;

$theme: () !default;

.theme-osman {


    @include base.base($theme, (
        colors: (
            primary: #0e31e2,
            text: #444444,
            accent: #396b6a,
        ),
        typography: (
            body: font.$font-family-base,
            heading: font.$font-size-header
        )
    ));

    @include header-style.header-style;
    @include testimonial.testimonial;
    @include ntl-card-row.ntl-card-row;
    @include ntl-card-row_style-ribbon.ntl-card-row_style-ribbon;
    @include ntl-card-row_style-footer.ntl-card-row_style-footer;
    @include ntl-hero.ntl-hero;
    @include ntl-accordion-item.ntl-accordion-item;
    @include button-bar.button-bar;

    h2, h3 {
        color: var(--nt-primary);
    }

    ul {
        list-style: square;

        li {
            &::marker {
                color: var(--nt-primary);
            }
        }
    }

    ntl-2col,
    ntl-card-grid,
    ntl-card-row {
        padding: var(--nt-space-5) 0;
        margin: var(--nt-space-5) 0;
    }

    ntl-2col {
        --container-border: unset;
        --container-bg: transparent;

        &.aside-padding {
            &[mode="desktop"] {
                &::part(main) {
                    border-right: 1px solid #e8e8e8;
                }
            }
        }

        [slot="top"] {
            width: 100%;
            aspect-ratio: 1/1;
            border: none;
        }

        &[mode="desktop"] {
            [slot="top"] {
                aspect-ratio: 16/9;
            }
        }
    }

    ntl-card {
        --nt-dark: #e8e8e8;
        --border: unset;
    }

    ntl-card-row[mode="desktop"] {
        ntl-card {
            &:not(:last-of-type) {
                border-right: 1px solid #e8e8e8;
            }
        }
    }

    p,
    ul,
    ol,
    blockquote,
    code,
    pre,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: var(--nt-text-gap);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
