@use "@leuffen/themejs2/theme/mueller" with (
  $theme: (
    primary: #316947
  )
);

@use "@leuffen/themejs2/theme/osman";


@use "@leuffen/themejs2/theme/epraxis" with (
  $theme: (
    primary: #1b8c47
  )
);

