<!DOCTYPE html>
<html lang="en">
    <head>
        {% include shared/head-general.html %}
        <link
            rel="stylesheet"
            href="{{ '/assets/epraxis/css/variables.css' | relative_url }}"
        />
        <!-- include-specific inline classes from md directives-->
        <link
            rel="stylesheet"
            href="{{ '/assets/epraxis/css/includes/header.css' | relative_url }}"
        />
        <link
            rel="stylesheet"
            href="{{ '/assets/epraxis/css/inline-classes/info-box.css' | relative_url }}"
        />
        <link
            rel="stylesheet"
            href="{{ '/assets/epraxis/css/inline-classes/blockquote.css' | relative_url }}"
        />
        <link
            rel="stylesheet"
            href="{{ '/assets/epraxis/css/inline-classes/bildbox.css' | relative_url }}"
        />
    </head>
    <body>
        {% include epraxis/header.html %} {{ content }}
    </body>
</html>
