---
layout: epraxis/base
---

<main id="epraxis-layout">
    <div id="epraxis-mobile-box">
        {% include epraxis/article-progress-box-mobile.html %}
    </div>
    <article id="epraxis-article">
        {% include epraxis/hero-header.html
            image="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            subtitle="BARRIEREFREIHEITSSTÄRKUNGSGESETZ (BFSG)"
            title="Das neue Gesetz und seine Bedeutung für Praxen"
         %}
        {{ content }}
    </article>
    <aside id="epraxis-sticky-sidebar">
        {% include epraxis/article-progress-box-desktop.html %}
        {% include epraxis/share-widget.html %}
        {% include epraxis/related-articles.html %}
    </aside>

    <div id="expraxis-mobile-related-and-share">
        {% include epraxis/share-widget.html %}
        {% include epraxis/related-articles.html %}
    </div>
</main>

<style>
    #epraxis-layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
        min-height: 100vh;
        position: relative;
    }

    h1, h2,  h3,  h4,  h5,  h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #epraxis-sticky-sidebar {
        position: sticky;
        top: 2rem;
        align-self: start;
        height: fit-content;
    }

    #epraxis-sticky-sidebar h2:not(:first-child) {
        margin-top: 1rem;
    }

    #epraxis-article {
        grid-column: 1;
    }

    #epraxis-progress-box {
        grid-column: 2;
    }

    #expraxis-share-and-related {
        grid-column: 2;
    }

    /* Right column container */
    #epraxis-progress-box,
    #expraxis-share-and-related {
        position: sticky;
        top: 2rem;
    }

    #expraxis-share-and-related {
        margin-top: 1rem;
    }

    /* Hide mobile elements on desktop */
    #epraxis-mobile-box,
    #expraxis-mobile-related-and-share {
        display: none;
    }

    /* Mobile styles */
    @media screen and (max-width: 768px) {
        #epraxis-layout {
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        #epraxis-sticky-sidebar {
            display: none;
        }

        #epraxis-article {
            grid-column: 1;
        }

        #epraxis-mobile-box,
        #expraxis-mobile-related-and-share {
            display: block;
            margin-top: 2rem;
        }
    }
</style>
