/**
 * This style is for header with
 * ## Header
 * > Subheader
 */
h1, h2, h3 {
  &:has(+ blockquote) {
    // the original header becomes normal TEXT
    font-size: var(--nt-font-size-root);
    color: var(--nt-accent);
    // make it uppercase:
    text-transform: uppercase;
    font-weight: var(--nt-font-weight-header);
    margin: var(--nt-space-3) 0;
    &::before {
      content: "";
      display: inline-block;
      width: 1.5em;
      border-bottom: 2px solid currentColor;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }

  & + blockquote {
    padding: 0;

    border: none;
    margin-top: 0;
    margin-bottom: var(--nt-space-3);
    > p {
      // We make it to a H2 header
      font-size: var(--flex-header-font-size, var(--nt-fs-h3));
      color: var(--nt-secondary);
      line-height: var(--nt-header-line-height);
      font-weight: var(--nt-font-weight-header);

    }
  }
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}

