&.nav-vertical {
  ul {
    gap: 0;
  }

  > ul > li > a {
    padding: 0.85rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1px solid #ece8e4;
  }

  > ul > li > ul {
    padding: 0 0 0 0.75rem;
  }

  > ul > li > ul > li > a {
    padding: 0.55rem 0;
  }
}
