@mixin ntl-accordion-item {
    --marker-icon-closed: var(--ntl-icon-plus);
    --marker-icon-open: var(--ntl-icon-minus);

    ntl-accordion-item {
        border: 1px solid var(--nt-gray-200);

        > [slot="title"] {
            margin-bottom: 0;
            color: var(--nt-gray-600);
            font-size: var(--nt-fs-1);
            font-weight: bold;
        }

        &::part(summary) {
            transition: background-color 0.3s;
            flex-direction: row-reverse;
            background: var(--nt-gray-100);

            &:hover {
                background: var(--nt-gray-200);
            }
        }

        &[open] {
            &::part(summary) {
                background: var(--nt-white);

                &:hover {
                    background: var(--nt-gray-100);
                }
            }
        }
    }
}

