tj-content-pane {
  display: block;
  > :where(section, ntl-2col, ntl-card-row, ntl-card-grid, nte-accordion) { margin-block: 0; padding-block: var(--nt-spacing-section); }
  > ntl-hero { padding-block: 0; }
}
