.hero__specialties {
  display: grid;
  gap: var(--nt-space-2);
  margin: 0 0 var(--nt-space-7);
  padding: 0;
  color: var(--nt-primary);
  list-style: none;
  font-size: var(--nt-font-size-small);
  font-weight: var(--nt-font-weight-bold);
  letter-spacing: .11em;
  line-height: 1.4;
  text-transform: uppercase;

  > li {
    display: block;
    margin: 0;
  }
}
