@forward "@nextrap/style-base";
@use "@nextrap/style-reset";
@use "@nextrap/style-utils";
@use "@nextrap/style-typography";
@use "@nextrap/style-button";

// All Elements from index.ts
@use "@nextrap/nte-nav";


// Custom styles for the theme
//@use "./style/table";
//@use "./style/generic-blog-styles";
//@use "./style/assisted-by-ai-info";
//@use "./style/post-preview";
//@use "./style/post-previews";
//@use "./epraxis-theme/theme";
@use "./vendor/_theme";


// Custom style which will be moved later to nextrap-base
@use "./vendor/_root";
@use "./vendor/_font-utils";
@use "./vendor/_display";
@use "./vendor/_alignment";
@use "./vendor/_flex";
@use "./vendor/_sizing";
@use "./vendor/_animations";
@use "./vendor/_image";
@use "./vendor/_prose";

