@use "@nextrap/nte-card" as card;
@use "sass:string";
&.style-featured {
  nte-card { @include card.default-style($innerPadding: var(--nt-spacing-component), $border: 0, $background-color: var(--nt-surface-raised), $border-radius: var(--nt-border-radius-xl), $image-aspect-ratio: string.unquote("16 / 9")); height: 100%; }
  nte-card::part(wrapper) { height: 100%; }
  &[mode="desktop"] nte-card:first-of-type { --cols: 6; grid-row: span 2; }
  &[mode="desktop"] nte-card:not(:first-of-type) { @include card.with-image-overlay(); --cols: 6; }
}
