@mixin ntl-card-row {
    ntl-card-row {

        [slot="header"] {
            text-align: center;
        }

        ntl-card {

            h3 {

                font-size: var(--nt-fs-h4);
            }
        }

        &[mode="desktop"] {
            ntl-card {
                --aspect-ratio: 16/9;
            }
        }

        &[mode="mobile"] {
            ntl-card {
                --aspect-ratio: 1;
                padding: 0 var(--nt-space-2);
            }
        }
    }
}
