@use "sass:meta";
@use "./../../font/opensans-regular";
@use "./../../font/_vendor/font-bootstrap-icons";
@use "@nextrap/style-reset";
@use "@nextrap/style-base" as nextrapBase;
@use "@nextrap/style-utils" as nextrapUtils;
@use "@nextrap/style-typography" as nextrapTypography;
@use "@nextrap/style-button" as nextrapButton;

@mixin theme() {
  @include nextrapBase.runtime-theme-scoped();
  @include meta.load-css("./_runtime-settings.scss");

  @content;

  font-family: var(--nt-font-family);
  color: var(--nt-text);
  line-height: var(--nt-line-height);
  background: var(--nt-surface);

  @include nextrapUtils.style-utils();
  @include nextrapTypography.style-typography();
  @include nextrapButton.style-button();

  @include meta.load-css("./../../src/features/_data-kicker.scss");
  @include meta.load-css("./../medic/elements/ntl-hero/ntl-hero.scss");
  @include meta.load-css("./../medic/elements/ntl-card-row/ntl-card-row.scss");
  @include meta.load-css("./../medic/elements/ntl-card/ntl-card.scss");
  @include meta.load-css("./../medic/elements/ntl-2col/ntl-2col.scss");
  @include meta.load-css("./../medic/elements/ntl-accordion-item/ntl-accordion-item.scss");
  @include meta.load-css("./../medic/elements/ntl-consent-blocker/ntl-consent-blocker.scss");
  @include meta.load-css("./../medic/tools/_button-bar.scss");
  @include meta.load-css("./../medic/elements/tj-loader/tj-loader.scss");
}
