<header id="epraxis-header" class="header bg-soft-info p-3">
  <div class="header-container container d-flex align-items-center justify-content-center">
    <div class="header-bar">
      <span class="header-logo">
        <span class="text-primary">e</span><span class="text-dark">praxis.digital.</span>
      </span>
      <nav class="header-nav">
        <a href="#" class="header-link">Magazin</a>
        <a href="#" class="header-link">Über uns</a>
        <a href="#" class="header-link">Kontakt</a>
      </nav>
      <span class="header-search">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="9" cy="9" r="7" stroke="currentColor" stroke-width="2"/>
          <line x1="14.2929" y1="14.7071" x2="18" y2="18.4142" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </span>
    </div>
  </div>
</header>
